*{
    font-family: Arial black;
        
}
body{
   background-image: url(../imagenes/fondo%205.png);
    margin: 30px;
}
h1{
    text-align: center;
    font-size: 60px;
    color: darkred;
}
ul li{
    display: inline;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px 20px;
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
h2{
    color: darkred;
    text-align: center;
}
h4{
    color: darkred;
    font-size: 25px;
}
h5{
    color: darkred;
    font-size: 25px;
}
p{
    color: white;
    text-align: center;

}
li:hover{
    background-color: red;
}
h3{
    color: white;
}
ol{
    color: white;
}